:root {
    --main-color: rgb(0, 45, 45);
    --secondary-color: rgb(0, 70, 70);
    --tertiary-color: rgb(0, 139, 139);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    font-family: sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    position: relative;
}

header h1 {
    margin-bottom: 1.875rem;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

header span {
    margin-bottom: 0.875rem;
    color: white;
}

header .sign {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 25rem;
    height: 3.75rem;
    background-color: var(--secondary-color);
    border-radius: 0 0 0 1rem;
}

header #generate {
    background-color: var(--tertiary-color);
    color: white;
    border: solid var(--tertiary-color) 0.1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    max-width: 7.55rem;
    position: relative;
    top: 6rem;

}

button {
    padding: 0.625rem 1.25rem;
    background-color: var(--tertiary-color);
    color: white;
    border: solid var(--tertiary-color) 0.1rem;
    border-radius: 0.25rem;
    transition: 375ms background-color, 375ms box-shadow;
    cursor: pointer;
    max-width: 7.55rem;
}

button:hover {
    background-color: rgb(35, 116, 116);
}

button:focus{
    box-shadow: 0 0 0 0.25rem rgba(0, 170, 170, 0.15);
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 auto;
    padding: 2.25rem;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 2.25rem;
}

.block img {
    width: 10rem;
    height: 10rem;
    image-rendering: pixelated;
}

.action{
    margin-top: 1.25rem;
}

.popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 375ms opacity;
    background-color: rgba(0, 0, 0, 0.15);
}

.popup.show{
    pointer-events: auto;
    opacity: 1;
}

.menu_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tertiary-color);
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 2.25rem;
    position: fixed;
    width: 20rem;
    height: 25rem;
}

.menu_block span{
    color: white;
    margin-bottom: 1rem;
}

.displayAllBlockForMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    overflow-y: auto;
    height: auto;
}

.menu_block img{
    width: 3rem;
    height: 3rem;
}